.todoapp /deep/ input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp /deep/ input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
